

<% include partials/header %>

<h2>All Blogs:</h2>

<% allBlogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %> <small>- <span><%= blog.created %></span></small> </h2>
        <br>
        <img id="indexImages" src="<%= blog.image %>">
        <p><%= blog.body %></p>
    </div><br><br>
<% }); %>

<% include partials/footer %>

