

i.icon {
    font-size: 1.1em;
}


body {
    margin-top: 30px;
}


#indexPost {
    border: 1px solid lightgrey;
    width: 33%;
    padding: 20px;
}

#indexTitleDate {
    font-size: .5em;
    margin-left: 10px;
}


#indexImage {
    width: 150px;
    height: 150px;
}

#indexMoreLink {
    font-size: .8em;
}

#postImage {
    max-width: 300px;
    max-height: auto;
}








/*#footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/




