

i.icon {
    font-size: 1.1em;
}


body {
    margin-top: 30px;
}


#indexImages {
    width: 150px;
    height: 150px;
}













/*#footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/




